body{
  background-color: #eee;
}

$bg-color: #bc1939;
#btn{
  background-color: $bg-color;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 150px;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  box-shadow: 1px 1px 0.5px darken($bg-color, 20%),
              5px 5px 0.5px darken($bg-color, 20%),
              4px 4px 0.5px darken($bg-color, 20%),
              3px 3px 0.5px darken($bg-color, 20%),
              2px 2px 0.5px darken($bg-color, 20%);

}

#btn:active{
  transform: translateY(3px);
  transform: translateX(3px);
  box-shadow: 2px 2px 0.5px darken($bg-color, 20%),1px 1px 0.5px darken($bg-color, 20%);
}
